.color-lightGray {
	color: $light-gray;
}
.color-mediumGray {
	color: $medium-gray;
}
.color-darkGray {
	color: $dark-gray;
}
.row-small {
	max-width: 60rem;
}
.gallery-item {
	border: 1px solid $dark-gray;
}
.dropdown {
	z-index: 1000;
}
.aligncenter {
	@extend .float-center;
}
.alignright {
	@extend .float-right;
}