.hero {
	text-align: center;
	background-size: cover;
	background-position: bottom;
	height: rem-calc(450);
	height: 90vh;
	position: relative;
	// border-top: 1px solid $dark-gray;
	// border-bottom: 1px solid $dark-gray;

	@include breakpoint(medium) {
		background-size: cover;
		background-position: center;
		height: rem-calc(685);
		height: 90vh;
	}
	&-dark {
		.hero_blag {
			color: $black;
		}
	}
	&_container {
		padding-top: rem-calc(65%);
		width: 100%;
		position: absolute;
		bottom: 20%;
		@include breakpoint(medium) {
			bottom: 10%;
		}
	}
	&_title {
		font-size: 2.3rem;
		margin: 0;
		font-family: 'orbit-b';
		@include breakpoint(medium) {
			font-size: 4rem;
		}
		@include breakpoint(large) {
			font-size: 6rem;
		}
	}
	&_blag {
		font-size: 1.5rem;
		line-height: 1rem;
		@include breakpoint(medium) {
			font-size: 3rem;
		}
	}
}