/* Navigation breakpoints */

.main-navigation {
  @include show-for(medium);
  margin: 20px 0;
  &_item, .menu-item a {
  	color: $white;
  }
	&_logo {
		background-image: url($themeAssetsPath + "images/astralLogoOutlinedType.svg");
		height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    display: block;
    margin: 0 0 0 10px;
	}
}

.title-bar {
  @include hide-for(medium);
}

/* Mobile menu */
.off-canvas {
  ul#menu-main-menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}
