/* Navigation breakpoints */

.main-navigation {
  @include show-for(medium);
  padding: 20px 0;
  &_item, .menu-item a {
  	color: $white;
  }
  &_home {
  	position: relative;
  	width: 120px;
  	top: -15px;
  }
	&_logo {
		position: absolute;
	}
}

.title-bar {
  @include hide-for(medium);
}

/* Mobile menu */
.off-canvas {
  ul#menu-main-menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}
